.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#mapid {
  height: 93vh;
  width: 100vw;
  position: absolute;
  bottom: 0px;
}

#dataViz {

    height: 93vh;
    width: 100vw;
    position: absolute;
    bottom: 0px;
  
}
.leaflet-container {
  height: 93vh;
  width: 100vw;
  z-index: 1;
}
.markercluster-map {
  height: 93vh;
}
.NavBar{
  height: 7vh;
  width: 100vw;
  position: absolute;
  top: 0px;
  z-index: 100;

  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #24252a;
}

.NavBar .logo {
  padding: 9px 25px;
  color: orange;
  font-family: 'Staatliches', cursive;
  font-size: 40px;
  border: none;
  border-radius: 50px;
  margin-left: 3%;
}

.NavBar .dataTooltip {
  display: flex;
  justify-content: space-between;
  width: 30%;
  padding: 5px 30px;
  color: #edf0f1;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  background-color: #4d7bd6;
  border: none;
  border-radius: 50px;
}

.NavBar .links {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  display: inline;
  transition: all 0.3s ease 0s;
  color: #edf0f1;
  font-family: 'Staatliches', cursive;
  /* font-weight: bold; */
  margin-right: 3%;
  font-size: 36px;
}

.links span {
  margin: 30px;
  /* text-decoration: none; */
  color: #edf0f1;
}

.NavBar .links:hover{
  color: orange;
}

.NavBar a:link,
.NavBar a:visited {
  text-decoration: none;
  color: #edf0f1;
}

